{
  "extends": "airbnb",
  "rules": {
    "indent": [2, "tab"],
    "no-tabs": 0,
    "padded-blocks": 0,
    "no-plusplus": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": [1, { "aspects": ["invalidHref"] }]
  }
}
