{
	"ecmaFeatures": {
		"jsx": true,
		"modules": true
	},
	"env": {
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
	"extends": "airbnb",
	"rules": {
		"indent": [2, "tab"],
		"padded-blocks": 0,
		"no-plusplus": 0
	},
	"plugins": [ "react" ]
}
