// Colours
$darkgrey-color: #444648 !default;
$midgrey-color: #9da7aa !default;
$lightgrey-color: #cdd7dc !default;
$primary-color: #5ba4e5 !default;
$accent-color: #fbdc3e !default;
$alert-color: #e25440 !default;
$warning-color: #f2a925 !default;
$success-color: #9fbb58 !default;

// Typography
$font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$line-height: 1.5 !default;

// Layout & Visual
$global-margin: 1.5rem !default;
$grid-width: 1000px !default;
$form-element-height: 38px !default;
$border-radius: 0px !default;
$transition-timing: 0.14s !default;

// Media queries
$mobile:    "only screen and (max-width: 639px) !default";
$tablet:    "only screen and (min-width: 640px) and (max-width: 1023px) !default";
$tablet-up: "only screen and (min-width: 640px) !default";
$laptop:    "only screen and (min-width: 1024px) and (max-width: 1279px) !default";
$laptop-up: "only screen and (min-width: 1024px) !default";
$desktop:   "only screen and (min-width: 1280px) !default";
