.row {
	width: 100%;
	max-width: $grid-width;
	margin: 0 auto;

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.row {
		margin: 0 (-$global-margin/2);
		max-width: none;
		width: auto;
	}
}

.column {
	width: 100%;
	position: relative;
	min-height: 1px;
	padding: 0 $global-margin/2;
}

@media #{$laptop-up} {

	.column {
		float: left;
	}

	.column--1  { width: 8.33333%; }
	.column--2  { width: 16.66667%; }
	.column--3  { width: 25%; }
	.column--4  { width: 33.33333%; }
	.column--5  { width: 41.66667%; }
	.column--6  { width: 50%; }
	.column--7  { width: 58.33333%; }
	.column--8  { width: 66.66667%; }
	.column--9  { width: 75%; }
	.column--10 { width: 83.33333%; }
	.column--11 { width: 91.66667%; }
	.column--12 { width: 100%; }

	.column--push-1  { left: 8.33333%; }
	.column--push-2  { left: 16.66667%; }
	.column--push-3  { left: 25%; }
	.column--push-4  { left: 33.33333%; }
	.column--push-5  { left: 41.66667%; }
	.column--push-6  { left: 50%; }
	.column--push-7  { left: 58.33333%; }
	.column--push-8  { left: 66.66667%; }
	.column--push-9  { left: 75%; }
	.column--push-10 { left: 83.33333%; }
	.column--push-11 { left: 91.66667%; }
	.column--push-12 { left: 100%; }

	.column--pull-1  { right: 8.33333%; }
	.column--pull-2  { right: 16.66667%; }
	.column--pull-3  { right: 25%; }
	.column--pull-4  { right: 33.33333%; }
	.column--pull-5  { right: 41.66667%; }
	.column--pull-6  { right: 50%; }
	.column--pull-7  { right: 58.33333%; }
	.column--pull-8  { right: 66.66667%; }
	.column--pull-9  { right: 75%; }
	.column--pull-10 { right: 83.33333%; }
	.column--pull-11 { right: 91.66667%; }
	.column--pull-12 { right: 100%; }

}
